@model List<LnP_Infotech_ujjwal_Kumar.Models.Category>

<h2>Categories</h2>

<table border="1" cellpadding="8">

    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
    </tr>

    @foreach (var c in Model)
    {
        <tr>
            <td>@c.CategoryName</td>
            <td>@c.Description</td>

            <td>
                <a asp-action="Delete" asp-route-id="@c.CategoryId">
                    Delete
                </a>
            </td>
        </tr>
    }

</table>

<br />

<a asp-action="Create">➕ Add Category</a>
